@font-face {
    font-family: "PT Sans"; 
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #E5E5E5;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px #cccccc;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

a {
    text-decoration: none;
    color: #000000;
}


/**Главная страница**/

.main-sedona-pic {
    display: block;
}

.page-header {
    z-index: 10;
    position: relative;
}

.logo {
    display: block;
    margin-bottom: -4px;
}

.navigation-link {
    padding: 20px 0;
    display: block;
}
.navigation-link--active {
    border-bottom: 2px solid #756257;
}
.navigation-link--inactive {
    border-bottom: 2px solid transparent;
}

.navigation {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px; 
    margin-bottom: -1px;
    margin-left: 47px;
}

.navigation-container {
    display: flex;
    padding: 0 70px;
}

.navigation-list {
    list-style-type: none;
    column-gap: 34px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
  }
  
.navigation-user {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    margin-left: auto;
    column-gap: 5px;
  }

.navigation-user-link {
    display: block;
}

.item-search {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat; 
    min-height: 40px;
    min-width: 40px;
    background-position: center;
}

.item-fav {
    background-image: url("../images/favorite.svg");
    background-repeat: no-repeat;
    min-height: 40px;
    min-width: 40px;
    background-position: center;
    position: relative;
    
}

.item-fav-count-likes {
    padding-top: 3px;
    border-radius: 100%;
    background-color: #7DB54F;
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    left: 23px;
    top: 2px;
}


.button {
    background-color: #756157;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 25px;
    cursor: pointer;
}

.button-offer {
    margin-left: 28px;
    min-width: 160px;
    background-color: #756157;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    align-self: center;
    padding-top: 9px;
    padding-bottom: 8px;
}
.button-offer:hover, .button-offer:active {
    background-color: #615048;
}

.container-with-sedona-pictures {
    background-color: #82B3D3;
    position: relative;
}
.container-with-sedona-pictures::after {
    background-image: url("../images/border.svg");
    content: "";
    position: absolute;
    bottom: 0px;
    width: 1200px;
    height: 57px;
}

.main-welcome-pic {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0px);
}

.main-container {
    flex-grow: 1;
}

.main-introduction {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    padding: 0 180px;
    margin: 0;
    margin-bottom: 31px;
}

.introduction-part-two{
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    padding: 0 200px;
    margin-bottom: 90px;
}

.advantages {
    padding-top: 63px;
}

.advantages-list {
    list-style: none;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    counter-reset: list 0; 
   
}

.sedona-image {
    display: block;
}

.devils-bridge {
    display: block;
}

.promo-item:nth-child(even) {
    background-color: #FFFFFF;
}

.promo-item:nth-child(odd) {
    background-color: #f0f6fa;
}

.advantages-item-unwrapper {
    color: #000000;
    display: flex;
    flex-direction: column;
}
.advantages-item-unwrapper::before{
    counter-increment: list;
    content: "— №" counter(list) "—";
}

.advantages-item-unwrapper:nth-child(odd) {
    background-color: #83B3D31F;
    padding: 92px 85px;
}

.advantages-item-unwrapper:nth-child(even) {
    background-color: #83B3D333;
    padding: 92px 85px;
}

.advantages-item {
    padding-top: 103px;
    padding-bottom: 102px;
    text-align: center;
    flex: 1 1 30%;
    list-style-type: none; 
}

.container-for-image-item-sedona {
    flex: 0 0 800px;
    margin: 0 ;
}

.promo-list {
    padding-left: 0;
    display: flex;
    list-style: none;
    color: #000000;
    background-color: #F0F6FA;
}

.advantages-title{
    text-align: center;
    color:#000000;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    padding: 0 29px;
    order: -1;
}

.advantages-description {
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

.advantages-description-unwrapper {
    color: #333333;
}

.advantages-item--wrapper {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    color: #ffffff;
    background-color: #82B3D3;
}

.advantages-with-pic-description {
    padding: 92px 85px;
    flex: 1 1 30%;
    list-style-type: none; 
    display: flex;
    flex-direction: column;
}
.advantages-with-pic-description::before {
    counter-increment: list;
    content: "— № " counter(list) " —";
}


.white-title {
    color: #ffffff;
}

.promo-item {
    flex: 1 1 30%;
    padding: 80px 85px;
}

.hostel-logo {
    background-image: url("../images/hostel.svg") ;
    background-repeat: no-repeat;
    min-width: 75px;
    min-height: 70px;
    display: inline-block;
    margin-bottom: 30px;
}

.food-logo {
    background-image: url("../images/food.svg");
    background-repeat: no-repeat;
    min-width: 76px;
    min-height: 72px;
    display: inline-block;
    margin-bottom: 30px;
}

.gift-logo {
    background-image: url("../images/gift.svg");
    background-repeat: no-repeat;
    min-width: 65px;
    min-height: 76px;
    display: inline-block;
    margin-bottom: 30px;
}

.search-hostel {
    padding: 91px 100px 68px;
    text-align: center;
}

.container-for-subscribe-button {
    padding: 0 213px;
}

.subscribe-button:hover, .subscribe-button:active {
    background-color: #68A2CA;
}

.search-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color:#000000;
}

.search-description {
    margin: 0;
    padding-top: 29px;
    padding-bottom: 56px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.button-search {
    display: block;
    color: #ffffff;
    background-color: #756157;
    padding: 12px 15px;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
}
.button-search:hover, .button-search:active {
    background-color: #615048;
}

.footer-social {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    width: 1060px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
   
}

.footer-social-list {
    display: flex;
    list-style: none;
    max-width: 448px;
    padding-left: 12px;
}

.footer-social-item:not(:last-child) {
    padding-right: 26px;
}

.footer-wrapper {
    color: #ffffff;
    background-size: cover;
    background-image: url("../images/blured-sedona-footer.jpg");
    background-repeat: no-repeat;
}

.page-footer {
    padding-top: 25px;

}

.footer-subs-email {
    padding: 94px 200px 94px;
    text-align: center;
    color: #000000;
}

.footer-wrapper .subs-title {
    color: #ffffff;
}

.footer-wrapper .subs-content {
    color: #ffffff;
}

 .contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
 }
 .contacts-phone:hover, .contacts-phone:active {
     color: #756157;
 }

 /**Форма подписки на рассылку**/
.subs-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.container-for-subs-title {
    padding-left: 163px;
    padding-right: 164px;
}

.subs-content {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 24px;
}

.subs-form {
    display: flex;
}

.subs-form-name {
    margin:0;
    flex: 0 0 600px;
    width: 600px;
}

.subs-field {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
    padding: 20px 21px 19px 22px;
    width: 600px;
    border: 0;
}

.subscribe-button {
    min-width: 200px;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 36px;
    border: 0;
    border-top-left-radius: 0 ;
    border-bottom-left-radius: 0 ;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

 /**Форма поиск гостиницы**/

 .modal {
    display: none;
 }
 
 .grid-container-searching-form {
    position: relative;
    display: grid;
    grid-template-columns: 155px 133px 153px 133px;
    row-gap: 40px;
    align-items: center;
 }
 
 .searching-form-date-in-label {
    grid-column: 1/2;
 }
 
 .searching-form-date-in-input {
    position: relative;
    grid-column: 2/-1;
     
 }
 
 .searching-form-date-out-label {
    grid-column: 1/2;
 }
 
 .searching-form-date-out-input {
    position: relative;
    grid-column: 2/-1;
 }
 
 .amount-adults {
    grid-column: 1/2;
 }
 
 .input-amount-adults {
    display: flex;
    grid-column: 2/3;
 }
 
 .amount-of-children {
    grid-column: 3/-2;
 }
 
 .input-amount-children {
    display: flex;
    flex-direction: row;
    grid-column: -2/-1;
 }

.form-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /*этот цвет в формате HEX #f5f5f5 визуально выглядит по другому */
    background-color: rgba(242, 242, 242, 0.8);
}

.searching-form {
    width: 715px;
    padding: 62px 70px 70px 70px;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 30px;
}

.searching-form-date-in {
    margin-top: 54px;
    margin-bottom: 40px;
}

.tooltip {
    position: absolute;
    top: 194px;
    left: 398px;
}

.tooltip-icon {
    width: 100%;
    height: 100%;
    fill: #83B3D3;
    display: block;
}

.tooltip-toggle {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
}
.tooltip-toggle:hover .tooltip-icon{
    fill: #68A2CA;
}
.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
    background-color: #33302d;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    padding: 15px 18px 18px 22px;
    border-radius: 10px; 
    display: block;
    width: 256px;
    left: 50%;
    transform: translate(-45%, 8%);
    z-index: 100;
    display: none;
  }
.tooltip-text:after {
    content:'';
    background-image: url("../images/tooltip-arrow.svg");
    width: 19px;
    height: 9px;
    position:absolute;
    bottom: 99%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
  }

.button-close {
    position:absolute;
    top: 54px;
    left: 590px;
    background-image: url("../images/buttonclose.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 53px;
    height: 53px;
    text-align: center;
    display: block;
    border: 3px solid  #F2F2F2;
    border-radius: 100%;
}
.button-close:focus {
    border-color: #83B3D3;
}

.form-info-message1 {
    color: #FF5757;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 100%;

}

.form-info-message2 {
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 16px;
}

.input-for-date {
    width: 420px;
    height: 50px;
    padding-left: 19px;
    border-radius: 4px;
    background-image: url("../images/icon-calendar.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.label-amount-children {
    padding-left: 56px;
}

 p .form-label {
    margin-right: 20px;
}

.searching-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 63px;
}

.form-label {
    font-weight: 700;
}

.button-amount {
    cursor: pointer;
    color: #b3aeab;
    background-color: #f2f2f2;
    border: 0;
    flex: 0 0 50px;
}
.button-amount:active {
    border-color: #83B3D3;
}
.button-amount:hover {
    fill: #000000;
}

.amount_plus {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.amount_minus {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input-for-adult {
    padding: 12px 4px;
    text-align: center;
    width: 33px;
    flex: 1 1 auto;
}

.field-amount-people {
    display: flex;
}

.button-in-form {
    border: 0;
    color: #ffffff;
    padding: 12px 26px;
    background-color: #83B3D3;
    line-height: 36px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    min-width: 100%;
    margin-top: 40px;
}
.button-in-form:hover, .button-in-form:active {
    background-color: #68A2CA;
}

.searching-form input {
    border: none;
    background-color: #F2F2F2;
}

/**Каталог**/
.home-outs {
    display: block;
    width: 21px;
    height: 21px;
    text-align: center;
}

.breadcrumbs {
    font-size: 16px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0;
    margin-bottom: 40px;
}

.breadcrumbs-item {
    margin-right: 25px;
    position: relative;
    display: block;
}
.breadcrumbs-item::after {
    background-image: url("../images/breadcrumbsarrow.svg");
    position: absolute;
    width: 6px;
    height: 9px;
    margin-top: 5px;
    margin-left: 10px;
    content: "";
}
.breadcrumbs-item:last-child::after {
    content: none;
  }

.breadcrumbs a {
    color: #ffffff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.field-wrapper {
    color: #ffffff;
    background-size: cover;
    background-image: url("../images/blured-sedona-form.jpg");
    background-repeat: no-repeat;
    display: block;
    padding: 35px 70px 70px;

}

.field-wrapper h1 {
    font-size: 60px;
    line-height: 78px;
    margin: 0;
}

.field-input-value {
    margin: 0;
    position: relative;
    color: #FFFFFF;
    background-color: transparent;
    width:144px;
    height:48px;
    border: 2px solid #FFFFFF;
    padding: 14px 0 13px 19px;
}

.cost-choosing{
    position: relative;
    right: 14px;
    top: 12px;   
    opacity: 30%;
}

.cost-choosing-to {
    right: 30px;
}

.scrollbar-active-line {
    position: relative;
}

.scrollbar-main-line {
    position: relative;
}

.scrollbar-main-line-item {
    display: block;
    position: absolute;
    border: 2px solid #61615c; 
    background-color: #61615c;
    height: 55px;
    transform: rotate(90deg);
    top: 50px;
    left: -50px;
}

.scrollbar-active-line-item {
    display: block;
    position: absolute;
    border: 2px solid #ffffff; 
    background-color: #ffffff;
    height: 227px;
    transform: rotate(90deg);
    left: -194px;
    top: -36px;
}

.scrollbar-active-button-from {
    position: absolute;
    background: #FFFFFF;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    left: -307px;
    top: 68px;
}

.scrollbar-active-button-to {
    position: absolute;
    background: #FFFFFF;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    top: 68px;
    left: -82px;
}

.field-input-value-from {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: -17px;
}

.field-input-value-to {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.container-fot-input-item {
    display: flex;
    height: 21px;
}
.container-fot-input-item{
    margin-bottom: 15px;
}

legend {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom:30px;
}


.custom-checkbox__input:focus + .custom-checkbox__label::before {
    outline: 3px solid #83B3D3;
}
.custom-checkbox__label {
    display: flex;
    align-items: center;
}
.custom-checkbox__label::before {
    width: 20px;
    height: 20px;
    content: "";
    background-color: #ffffff;
    border-radius: 4px;
    margin-right: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 10px;
    
}
.custom-checkbox__label:hover::before {
    background-color: rgba(255, 255, 255, 0.6);
}
.custom-checkbox__label:active::before {
    background-color: rgba(255, 255, 255, 0.3);
}
.custom-checkbox__input:checked + .custom-checkbox__label::before {
    background-image: url("../images/checkedstateinput.svg");
    width: 20px;
    height: 20px;
}


.custom-radio_label {
    display: flex;
    align-items: center;
}
.custom-radio_label::before {
    margin-right: 19px;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 50%;
}
.custom-radio_input:focus + .custom-radio_label::before {
    box-shadow: inset 0 0 0 3px #83B3D3;
}
.custom-radio_input:checked + .custom-radio_label::before {
    background-color: #3F5E72;
} 
.custom-radio_input:checked:focus + .custom-radio_label::before {
    box-shadow: none;
    outline: 3px solid #83B3D3;
}

.catalog-filter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #ffffff;
    line-height: 21px;
}

.sorting-container {
    display: flex;
    height: 48px;
    padding-right: 71px;
    width: 600px;
}

fieldset {
    display: flex;
    border: none;
    padding: 0;
    margin-right: 70px;
    flex-direction: column;
}

.filter-cost-title {
    flex-direction: row;

}

.button-container {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.button-apply-filter {
    min-width: 130px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #82B3D3;
    border: 0;
    margin-bottom: 17px;
}
.button-apply-filter:hover, .button-apply-filter:active {
    background-color: #68A2CA;
}

.button-reset-filter {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    padding: 0;
    border: 3px solid transparent;
    border-radius: 4px;
    background: none;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}
.button-reset-filter:active {
    border-color: #83B3D3;
}
.button-reset-filter:hover {
    opacity: 0.6;
}

button {
    font: inherit;
}

input {
    font: inherit;
}

.select-control {
    border: 2px solid #E5E5E5;
    width: 100%;
    border-radius: 4px;
}
.select-control:hover, .select-control:active {
    border-color: #68A2CA;
}

.sorting-hotel-container {
    display: flex;
    justify-content: space-between;
    padding-left: 72px;
    padding-top: 62px;
}

.hotel-amount {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

/*.sorting-item-active {
    border: 2px solid #000000;
    border-radius: 4px;
}*/

.sorting-item-unactive {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}
.sorting-item-unactive:hover {
    border-color: #000000;
}
.sorting-item-unactive:active {
    border-color:#68A2CA;
}

.sorting-view {
    column-gap: 7px;
    padding: 0;
    margin: 0;
    margin-left: 78px;
}

.button-table {
    background-image: url("../images/icon-table.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    display: block;
}

.button-slideshow {
    background-image: url("../images/icon-slideshow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    display: block;
}

.button-list {
    background-image: url("../images/icon-list.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    display: block;
}

.sorting-view {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

/**Карточки каталога**/
.hotel-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 71px 46px 73px;
    margin-top: 60px;
    column-gap: 9px;
}

.hostel-picture {
    display: block;
}

.hotel-item {
    padding: 20px;
}

.hotel-item img {
    margin: 0;
}

.item-description {
    padding: 16px 0 20px 0;
}

.item-text {
    display: flex;
    margin-bottom: 16px;
}

.item-text span {
    flex: 0 0  55%;
}

.item-text-hostel {
    flex: 0 0  45%;
   
}

.tem-text-cost {
    margin-right: 0;
}

.description-header {
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 16px 0;
    margin: 0;
}

.rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;  
    display: flex;
    margin: 24px 0 20px 0;
    max-height: 38px;
    flex-wrap: nowrap;
}

.rating-stars {
    margin: 0;
    display: block;
    flex: 1 1 50%;
    padding-right: 10px;
}

.rating-text {
    flex-grow: 1;
}

.rating-two-stars {
    background-image: url("../images/two-stars.svg");
    background-repeat: no-repeat;
}

.rating-three-stars {
    background-image: url("../images/three-stars.svg");
    background-repeat: no-repeat;
}

.rating-four-stars {
    background-image: url("../images/four-stars.svg");
    background-repeat: no-repeat;
}

.rating span {
    background-color: #F2F2F2;
    padding: 9px 23px 22px 8px;
    border-radius: 4px;
    flex-grow: 1;
    margin-left: 10px;
}

.button-more {
    font-weight: 700;
    background-color: #756157;
    margin-right: 20px;
    padding: 9px 28px 8px;
}
.button-more:hover, .button-more:active {
    background-color: #615048;
}

.button-in-fav {
    font-weight: 700;
    background-color: #7DB54F; 
    padding: 9px 15px 8px;
}
.button-in-fav:hover, .button-in-fave:active {
    background-color: #6C9E42;
}

.button-add-in-fav {
    font-weight: 700;
    background-color: #82B3D3;
    padding: 9px 15px 8px; 
}
.button-add-in-fav:hover, .button-add-in-fav:active {
    background-color: #68A2CA;
}

.but-dec { 
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}


.pagination {
    width: 1057px;
    margin: 0 auto;
    margin-left: 73px;
    padding-top: 30px; 
}

.pagination-container {
    display: flex;
    justify-content: space-between;
}

.pagination-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    column-gap: 8px;
}

.pagination-link {
    text-align: center;
    display: block;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    color: #000000;
    padding-top: 10px;
    background-color: #F2F2F2;
    font-size: 20px;
    line-height: 36px;
}

.pagination-link--active {
    background-color: #82B3D3;
    color: #ffffff;
}
.pagination-link--active:hover, .pagination-link--active:active {
    background-color: #68A2CA;
}


.select-amount {
    margin-left: 51px;
    width: 160px;
    height: 40px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}


/* Состояния svg */
.footer-social-logo {
    fill: #83B3D3;
}
.footer-social-logo:hover, .footer-social-logo:focus{
   fill: #68A2CA;
}

.footer-social-logo-academy {
    fill: #000000;
}
.footer-social-logo-academy:hover, .footer-social-logo-academy:focus {
    fill: #756157;
}
