@font-face {
    font-family: "PT Sans"; 
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #E5E5E5;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px #cccccc;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

a {
    text-decoration: none;
    color: #000000;
}


/**Форма бронирования**/

.modal {
    display: none;
}

.grid-container-searching-form {
    display: grid;
    grid-template-columns: 155px 155px 155px 155px ;
    grid-template-rows: 50px 50px 50px;
}

.searching-form-date-in {
    grid-column: 1/2;
    grid-row: 2/3;
}


/**Главная страница**/

.main-sedona-pic {
    display: block;
}

.page-header {
    z-index: 10;
    position: relative;
}

.logo {
    display: block;
    margin-bottom: -4px;
}

.active-navigation-link {
    border-bottom: 2px solid #756257;
}

.navigation {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px; 
    padding-left: 47px;
}

.navigation-container {
    display: flex;
    padding: 0 70px;
}

.navigation-list {
    list-style-type: none;
    width: 311px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

.navigation-link {
    padding: 20px 0;
    display: block;
}
  
.navigation-user {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    margin-left: auto;
  }

.navigation-user-link {
    padding: 0 12px;
    display: block;
}

.navigation-user-item {
    padding-right: 23px;
}

.navigation-user-item:last-child {
    padding-right: 32px;
}


.item-search {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat; 
    min-height: 19px;
    min-width: 19px;
}

.item-fav {
    background-image: url("../images/favorite.svg");
    background-repeat: no-repeat;
    min-height: 19px;
    min-width: 17px;
}

.button {
    background-color: #756157;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
}

.container-for-button-offer {
    padding: 9px 30px 8px;
    background-color: #756157;
    border-radius: 4px;
}

.button-offer {
    margin-bottom: auto;
    margin-top: auto; 
}

.container-with-sedona-pictures {
    background-color: #82B3D3;
    position: relative;
}

.main-welcome-pic {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0px);
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.introduction-container {
    padding-left: 290px;
    padding-right: 290px;
}

.introduction-container-part-two {
    padding-left: 273px;
    padding-right: 273px;
}

.main-introduction {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    padding-top: 63px;
    padding-bottom: 31px;
    margin: 0;
}

.introduction-part-two{
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    padding-bottom: 90px;
}

.advantages-list {
    list-style: none;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
   
}

.sedona-image {
    display: block;
}

.devils-bridge {
    display: block;
}

.promo-item:nth-child(even) {
    background-color: #FFFFFF;
}

.promo-item:nth-child(odd) {
    background-color: #f0f6fa;
}

.advantages-item-unwrapper:nth-child(odd) {
    background-color: #83B3D31F;
    padding: 92px 85px;
}

.advantages-item-unwrapper:nth-child(even) {
    background-color: #83B3D333;
    padding: 92px 85px;
}

.advantages-item {
    padding-top: 103px;
    padding-bottom: 102px;
    text-align: center;
    flex: 1 1 30%;
}

.container-for-image-item-sedona {
    flex: 0 0 800px;
    margin: 0 ;
}

.promo-list {
    padding-left: 0;
    display: flex;
    list-style: none;
    color: #000000;
    background-color: #F0F6FA;
}

.advantages-title{
    text-align: center;
    color:#000000;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 30px 0;
    padding: 0 29px;
}

.advantages-description {
    text-align: center;
    margin: 0;
}

.advantages-item--wrapper {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    color: #ffffff;
    background-color: #82B3D3;
}

.advantages-with-pic-description {
    padding: 92px 85px;
    flex: 1 1 30%;
}


.white-title {
    color: #ffffff;
}

.promo-item {
    flex: 1 1 30%;
    padding: 80px 85px;
}

.hostel-logo {
    background-image: url("../images/hostel.svg") ;
    background-repeat: no-repeat;
    min-width: 75px;
    min-height: 70px;
    display: inline-block;
}

.food-logo {
    background-image: url("../images/food.svg");
    background-repeat: no-repeat;
    min-width: 76px;
    min-height: 72px;
    display: inline-block;
}

.gift-logo {
    background-image: url("../images/gift.svg");
    background-repeat: no-repeat;
    min-width: 65px;
    min-height: 76px;
    display: inline-block;
}

.search-hostel {
    padding: 91px 304px 68px;
    text-align: center;
}

.container-for-subscribe-button {
    padding: 0 9px;
}

.search-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color:#000000;
}

.search-description {
    margin: 0;
    padding-top: 29px;
    padding-bottom: 56px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.button-search {
    display: block;
    color: #ffffff;
    background-color: #756157;
    padding: 12px 15px;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
}

.footer-social {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    width: 1060px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
   
}

.footer-social-list {
    display: flex;
    list-style: none;
    max-width: 448px;
    padding-left: 12px;
}

.footer-social-item:not(:last-child) {
    padding-right: 26px;
}

.footer-wrapper {
    color: #ffffff;
    background-size: cover;
    background-image: url("../images/blured-sedona-footer.jpg");
    background-repeat: no-repeat;
}

.page-footer {
    padding-top: 25px;

}

.footer-subs-email {
    padding: 94px 200px 94px;
    text-align: center;
    color: #000000;
}

.footer-wrapper .subs-title {
    color: #ffffff;
}

.footer-wrapper .subs-content {
    color: #ffffff;
}

.logo-vk {
    background-image: url("../images/vk-logo.svg");
    background-repeat: no-repeat;
    display: block;
    min-width: 25px;
    min-height: 14px;
 }
 
 .logo-tg {
    background-image: url("../images/tg-logo.svg");
    background-repeat: no-repeat;
    display: block;
    min-width: 18px;
    min-height: 16px;
 }
 
 .logo-yt {
    background-image: url("../images/youtube-logo.svg");
    background-repeat: no-repeat;
    display: block;
    min-width: 23px;
    min-height: 18px;
 }
 
 .contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
 }

 /**Форма подписки на рассылку**/
.subs-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.container-for-subs-title {
    padding-left: 163px;
    padding-right: 164px;
}

.subs-content {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 24px;
}

.subs-form {
    display: flex;
}

.subs-form-name {
    margin:0;
    flex: 0 0 600px;
    width: 600px;
}

.subs-field {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
    padding: 20px 21px 19px 22px;
    width: 600px;
    border: 0;
}

.subscribe-button {
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 36px;
    border: 0;
    padding: 12px 30px ;
    border-top-left-radius: 0 ;
    border-bottom-left-radius: 0 ;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

 /**Форма поиск гостиницы**/
.searching-form {
    width: 715px;
    padding: 62px 70px 70px 70px;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.searching-form-header {
    display: flex;
}

.searching-form-date-in {
    margin-top: 54px;
    margin-bottom: 40px;
}

.button-close {
    width: 53px;
    height: 53px;
    text-align: center;
    padding-top: 20px;
    background-color: #F2F2F2;
    border-radius: 100%;
    margin-left: 111px;
}

.label-for-date {
    width: 420px;
    height: 50px;
}

 p .form-label {
    margin-right: 20px;
}

.searching-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.form-label {
    font-weight: 700;
}

.input-for-input {
    width: 133px;
    height: 50px;
}

.amount-adults label, .amount-of-children label {
    margin-right: 64px;
}

.field-amount-people {
    display: flex;
}

.button-in-form {
    border: 0;
    color: #ffffff;
    padding: 12px 26px;
    background-color: #83B3D3;
    line-height: 36px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    min-width: 100%;
    margin-top: 40px;
}

.searching-form input {
    border: none;
    background-color: #F2F2F2;
    border-radius: 4px;
}

/**Каталог**/

.home-outs {
    display: block;
    background-image: url("../images/home.svg");
    width: 12px; 
    height: 12px;
    background-repeat: no-repeat;
}

.breadcrumbs {
    font-size: 16px;
    list-style: none;
    display: flex;
    margin-top: 10px;
    padding: 0;
    margin-bottom: 40px;
}

.breadcrumbs-item {
    margin-right: 25px;
}

.breadcrumbs a {
    color: #ffffff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.field-wrapper {
    color: #ffffff;
    background-size: cover;
    background-image: url("../images/blured-sedona-form.jpg");
    background-repeat: no-repeat;
    display: block;
    padding: 35px 70px 70px;

}

.field-wrapper h1 {
    font-size: 60px;
    line-height: 78px;
    margin: 0;
}

.field-input-value {
    margin: 0;
    position: relative;
    color: #FFFFFF;
    background-color: transparent;
    width:144px;
    height:48px;
    border: 2px solid #FFFFFF;
    padding: 14px 0 13px 19px;
}

.cost-choosing{
    position: relative;
    right: 14px;
    top: 12px;   
    opacity: 30%;
}

.cost-choosing-to {
    right: 30px;
}

.field-input-value-from {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: -17px;
}

.field-input-value-to {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.container-fot-input-item {
    display: flex;
    height: 21px;

}
.container-fot-input-item{
    margin-bottom: 15px;
}

legend {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom:30px;
}

.control-input {
    margin-right:19px;
}

.check-input {
    margin-right: 19px;
}

.catalog-filter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #ffffff;
    line-height: 21px;
}

.sorting-container {
    display: flex;
    height: 48px;
    padding-right: 71px;
    width: 600px;
}

fieldset {
    display: flex;
    border: none;
    padding: 0;
    margin-right: 70px;
    flex-direction: column;
}

.filter-cost-title {
    flex-direction: row;

}

.button-container {
    display: flex;
    flex-direction: column;
     justify-content: end;
}

.button-apply-filter {
    padding: 14px 30px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #82B3D3;
    border: 0;
    margin-bottom: 20px;
}

.button-reset-filter {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

button {
    font: inherit;
}

input {
    font: inherit;
}

.select-control {
    border: 2px solid #E5E5E5;
    width: 100%
}

.sorting-hotel-container {
    display: flex;
    justify-content: space-between;
    padding-left: 72px;
    padding-top: 62px;
}

.hotel-amount {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.sorting-item {
    padding: 16px 17px;
    border-radius: 4px;
    margin-right: 8px;
}

.sorting-item-active {
    border: 2px solid #000000;
}

.sorting-item-unactive {
    border: 2px solid #E5E5E5;
}

.sorting-view {
    margin: 0;
}

.sorting-view:last-child {
    margin-right: 0;
}

.button-table {
    background-image: url("../images/icon-table.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    display: block;
}

.button-slideshow {
    background-image: url("../images/icon-slideshow.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    display: block;
}

.button-list {
    background-image: url("../images/icon-list.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    display: block;
}

.sorting-view {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

/**Карточки каталога**/
.hotel-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 71px 46px 73px;
    margin-top: 60px;
}

.hostel-picture {
    display: block;
}

.hotel-item:not(:nth-child(3n)){
    margin-right: 18px;
}

.hotel-item img {
    margin: 0;
}

.item-description {
    padding: 16px 0 20px 0;
}

.item-text {
    display: flex;
    margin-bottom: 16px;
}

.item-text span {
    flex: 0 0  55%;
}

.item-text-hostel {
    flex: 0 0  45%;
   
}

.tem-text-cost {
    margin-right: 0;
}

.description-header {
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 16px 0;
    margin: 0;
}

.rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;  
    display: flex;
    margin: 24px 0 20px 0;
    max-height: 38px;
    flex-wrap: nowrap;
}

.rating-stars {
    margin: 0;
    display: block;
    flex: 1 1 50%;
    padding-right: 10px;
}

.rating-text {
    flex-grow: 1;
}

.rating-two-stars {
    background-image: url("../images/two-stars.svg");
    background-repeat: no-repeat;
}

.rating-three-stars {
    background-image: url("../images/three-stars.svg");
    background-repeat: no-repeat;
}

.rating-four-stars {
    background-image: url("../images/four-stars.svg");
    background-repeat: no-repeat;
}

.rating span {
    background-color: #F2F2F2;
    padding: 9px 23px 22px 8px;
    border-radius: 4px;
    flex-grow: 1;
    margin-left: 10px;
}

.button-more {
    font-weight: 700;
    background-color: #756157;
    margin-right: 20px;
    padding: 9px 28px 8px;
}

.button-in-fav {
    font-weight: 700;
    background-color: #7DB54F; 
    padding: 9px 15px 8px;
}

.button-add-in-fav {
    font-weight: 700;
    background-color: #82B3D3;
    padding: 9px 15px 8px; 
}

.but-dec { 
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}


.pagination {
    width: 1057px;
    margin: 0 auto;
    margin-left: 73px;
    padding-top: 30px; 
}

.pagination-container {
    display: flex;
    justify-content: space-between;
}

.pagination-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
  }

.pagination-item:first-child a {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-item a {
    text-align: center;
    display: block;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    background-color: #82B3D3;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 36px;
}

.select-amount {
    margin-left: 51px;
    width: 160px;
    height: 40px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

